NEXT_PUBLIC_DATA_MODE=remote
NEXT_PUBLIC_API_BASE_URL=https://swagri-tailormoments-api-01.azurewebsites.net
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
NEXT_PUBLIC_CUSTOMER_SIGN_IN_URL=
NEXT_PUBLIC_PARTNER_SIGN_IN_URL=
NEXT_PUBLIC_OPS_SIGN_IN_URL=
